<main class="app">

  <div class="chart">
    <h2>Статистика за июнь</h2>
    <div>
      <img src="../assets/chart.svg" alt="">
      <button class="button">Вся статистика</button>
    </div>
  </div>

  <div class="transactions">
    <h2>Последние платежи</h2>
    <div class="transaction_wrapper">
      <div class="transaction_header"><span>Сегодня</span></div>
      <div class="transaction">
        <div class="transaction_left">
          <div><img alt="logo.svg" src="../assets/percent.svg"/></div>
          <div>
            <span>Счет 8596</span>
            <span>Юлия Б.</span>
          </div>
        </div>
        <div class="transaction_right">
          <span>-2045<span>,00 ₽</span></span>
          <span>Переводы</span>
        </div>
      </div>
    </div>

    <div class="transaction_wrapper">
      <div class="transaction_header"><span>2 июня, среда</span></div>

      <div class="transaction">
        <div class="transaction_left">
          <div></div>
          <div>
            <span>Счет 3321</span>
            <span>Валерий Г.</span>
          </div>
        </div>
        <div class="transaction_right">
          <span>-109<span>,00 ₽</span></span>
          <span>Улуги банка</span>
        </div>
      </div>
      <div class="transaction">
        <div class="transaction_left">
          <div><img alt="logo.svg" src="../assets/neva.svg"/></div>
          <div>
            <span>Счет 8853</span>
            <span>Невалинк</span>
          </div>
        </div>
        <div class="transaction_right">
          <span>-445<span>,00 ₽</span></span>
          <span>Перевод Юр. лицу</span>
        </div>
      </div>
    </div>
    <div class="transaction">
      <div class="transaction_left">
        <div></div>
        <div>
          <span>Счет 1119</span>
          <span>Анатолий Л.</span>
        </div>
      </div>
      <div class="transaction_right">
        <span>-10.333<span>,00 ₽</span></span>
        <span>Переводы</span>
      </div>
    </div>

    <button class="button">Все платежи</button>
  </div>
</main>
